@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --black: #000;
    --white: #fff;
}

body {
    font-family: "Manrope", sans-serif;
    color: var(--white);
}

.statistics-content {
    display: flex;
    flex-direction: column;
    padding: 40px 80px;
}

.facts-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 150%;
    margin: 0 0 8px 0;
}

.single-text {
    font-size: 16px;
    margin: 0;
}

.facts-wrap {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    box-sizing: border-box;
    gap: 40px;
}

.facts-icon {
    background-color: #B1FF85;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.facts-icon img {
    rotate: -45deg;
    height: 20px;
    width: 20px;
}

.facts-info {
    letter-spacing: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 500;
    line-height: 100%;
}

.facts-text {
    font-size: 16px;
}