@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --main-color: #B1FF85;
    --secondary-color: #071f1b;
    --black: #000000;
    --white: #ffffff;
    --social-circle: #213632;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background-color: #F7FEF7;
}


.header__container {
    width: 100%;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 80px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    height: auto;
    width: auto;
}

.header__logo img {
    height: 30px;
    width: 100%;
}

.header__nav {
    height: 50px;
    width: 60%;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav__item a {
    color: var(--black);
    text-decoration: none;
    font-size: 14px;
}

.nav__link img {
    vertical-align: middle;
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

.header__cta {
    height: 50px;
    width: 20%;
    display: flex;
    gap: 10px;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 25%;
    margin-top: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;
}

.get-started-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    height: 40px;
    width: 50%;
    margin-top: 4px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.get-started-button:hover {
    background-color: var(--black);
    color: var(--white);
}

.get-started-button:hover img {
    filter: invert(1);
    rotate: 45deg;
}

.get-started-button img {
    margin-left: 8px;
}

.header__menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
}

.header__menu-toggle span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--black);
    border-radius: 2px;
}


.hero__inner {
    grid-row-gap: 50px;
    padding-top: 50px;
}

.hero__content {

    color: var(--black);
    text-align: center;
    flex-flow: column;
    align-items: center;
    max-width: 58%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

h1 {
    color: var(--black);
    margin-bottom: 12px;
    font-size: 62px;
    font-weight: 800;
    line-height: 120%;
}

.hero__subtitle {
    width: 100%;
    max-width: 80%;
    margin-bottom: 0;
}

.hero__buttons {
    height: 80px;
    width: 100%;
    margin-top: 4px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.get-started-button-hero,
.discover-now-button-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 160px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.get-started-button-hero {
    background-color: var(--main-color);
}

.get-started-button-hero img {
    margin-left: 8px;
}

.discover-now-button-hero {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.project-overview {
    margin-top: 2em;
    width: 80%;
    height: 600px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    padding: 10px;
}

.white-screen-overview {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
}



.statistics-area {
    margin-top: 8em;
    width: 100%;
    min-height: 480px;
    border: none;
    display: block;
    background-color: var(--secondary-color);
}

.features-area {
    width: 100%;
    height: 1200px;
}


.landing-footer {
    background-color: #000;
    width: 100%;
    height: 350px;
}

.statistics-area {
    width: 100%;
    height: 400px;
    border: none;
}

.footer-area {
    width: 100%;
    border: none;
    display: block;
    background-color: var(--secondary-color);
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 420px;
    color: var(--white);
    background-color: var(--secondary-color);
}

.footer-social-links {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 60px;
}

.footer-nav {
    width: 70%;
    height: 100%;
}

.logo-image img {
    height: 40px;
    width: 160px;
}

p {
    margin: 0 0 18px 10px;
    font-size: 16px;
}

.footer-social-icons {
    margin: 10px 0 10px 10px;
    display: flex;
    gap: 10px;
}

.social-circle {
    background-color: var(--social-circle);
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.social-circle:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.social-circle img {
    height: 16px;
    width: 16px;
}

.social-circle:hover img {
    filter: invert(1);
}

.youtube-icon {
    margin-top: 4px;
}

.ft-right {
    width: 100%;
    height: 320px;
    display: flex;
    padding: 80px 0 0 0;
    font-size: 14px;
    gap: 140px;
}

.footer-list {
    list-style: none;
}

.footer-list-title {
    font-size: 16px;
}

.footer-list-container {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    color: var(--white);
    margin-bottom: 14px;
}

.rights-section {
    height: 70px;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: var(--secondary-color);
    color: var(--white);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    box-sizing: border-box;
}


@media (max-width: 1200px) {
    bordy {
        margin: 0;
        padding: 0;
    }

    .header__menu-toggle {
        display: flex;
    }

    .header__container {
        padding: 0 20px;
    }

    .hero__content {
        max-width: 100%;
    }

    h1 {
        font-size: 38px;
    }

    .nav__list {
        display: none;
    }

    .header__cta {
        display: none;
    }
}