<head>
    <link rel="stylesheet" href="../css/statistics.css" </head>

<body>
    <div class="statistics-area">
        <div class="statistics-content">
            <p class="facts-title">Trusted by Over Satisfied Marketers</p>
            <p class="single-text">At Space.com, our success is measured by the trust and satisfaction of our<br>valued
                community of
                marketers
                and
                developers.
            </p>
        </div>
        <div class="facts-wrap">
            <div class="facts-block">
                <div class="facts-icon"><img src="../icons/arrow_outward.svg"> </div>
                <div class="facts-info">500 +</div>
                <div class="facts-text">Completed Projects</div>
            </div>
            <div class="facts-block">
                <div class="facts-icon"><img src="../icons/arrow_outward.svg"> </div>
                <div class="facts-info">95 %</div>
                <div class="facts-text">Client Satisfaction Rate</div>

            </div>
            <div class="facts-block">
                <div class="facts-icon"><img src="../icons/arrow_outward.svg"> </div>
                <div class="facts-info">3 +</div>
                <div class="facts-text">Years of Experience</div>

            </div>
            <div class="facts-block">
                <div class="facts-icon"><img src="../icons/arrow_outward.svg"> </div>
                <div class="facts-info">14 +</div>
                <div class="facts-text">New Features Released</div>

            </div>
        </div>
    </div>
</body>